<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="Another-Mirai-Native.WebAPI" />
  </extensions>

  <targets>
    <target name="file"
            xsi:type="File"
            fileName="${basedir}/logs/webapi/${shortdate}/webapi.log"
            archiveEvery="Day"
            maxArchiveFiles="30"
            encoding="utf-8">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString}" />
      </layout>
    </target>

    <target name="error-file"
            xsi:type="File"
            fileName="${basedir}/logs/webapi/${shortdate}/error.log"
            encoding="utf-8">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString}" />
      </layout>
    </target>

    <target name="loghelper"
            xsi:type="LogHelper">
      <layout xsi:type="SimpleLayout" text="${longdate} [${logger}] ${message}${onexception:inner= ${exception:format=toString}}" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" finalMinLevel="Warn" writeTo="file,loghelper" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" writeTo="file,loghelper" />
    <logger name="System.*" finalMinLevel="Warn" writeTo="file,loghelper" />
    <logger name="Another_Mirai_Native.WebAPI.*" minlevel="Info" writeTo="file,loghelper" />
    <logger name="Another_Mirai_Native.WebAPI.*" minlevel="Error" writeTo="error-file" />
  </rules>
</nlog>
