<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
	
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body style="height: 100%">
    <Routes @rendermode="InteractiveServer" />

    <div id="blazor-error-ui">
        连接发生异常，服务端已终止连接，请刷新页面
        <a href="" class="reload">刷新</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.web.js"></script>
	<script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script>
        function scrollToBottom(element) {
            if (element) {
                element.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
            }
        }

        function copyTextToClipboard(text) {
            if (!navigator.clipboard) {
                console.error('Clipboard API not supported');
                return;
            }
            navigator.clipboard.writeText(text).then(function () {
                console.log('Text copied to clipboard');
            }).catch(function (err) {
                console.error('Could not copy text: ', err);
            });
        }

    </script>
</body>

</html>
